.pageWrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    padding: 10rem 5rem;
    align-items: center;
    background-color: #282C34;
}

.page {
    max-width: 110rem;
    width: 100%;
}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    align-items: center;
}

.side {
    overflow: visible;
}

.chart {
}
